body {
  font-family: Raleway, "Times New Roman", Times, serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label {
  margin: 0.5rem;
  font-weight: bold;
  color: #000;
}

select, input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
span{
  font-family: Roboto, "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: .3px;
    color: #5b6365;
    margin-bottom: 1rem;
}
button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}
